<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/bootstrap/bootstrap.ejs') %>

        <title>Home</title>
        <style>
            input[type="number"] {
                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                appearance: textfield;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        </style>
</head>

<body>
    <div class="container">
        <%- include('partials/nav.ejs') %>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <%- include('partials/nav_home.ejs') %>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <%- include('partials/nav_settings.ejs') %>
                </div>
            </div>



    </div>

    <%- include('partials/bootstrap/bootstrap_scripts.ejs') %>
        <script src="../home_page.js"></script>
        <script src="http://cdn.date-fns.org/v1.0.0/date_fns.min.js"></script>
</body>

</html>